<ngs-container [query$]="query$"
               [data$]="pokemons$"
               loaderType="text">
    <ng-template let-pokemons>
        <div class="flex-row flex-aic gap1"
             *ngFor="let p of pokemons; trackBy: trackByEntity">
            <div>{{ p.value.name }}</div>
            <i class="fa fa-solid fa-trash pointer"
               (click)="deletePokemon(p.value.id)"
               *ngIf="p.deleting === false"></i>
            <i class="fa fa-spin fa-spinner"
               *ngIf="p.deleting === true"></i>
        </div>
    </ng-template>
</ngs-container>