<ngs-container [query$]="query$"
               [data$]="types$"
               loaderType="text">
    <ng-template let-types>
        <div class="flex-row flex-aic gap1"
             *ngFor="let t of types; trackBy: trackByValue">
            <div>{{ t.name }}</div>
            <i class="fa fa-solid fa-eye pointer"
               (click)="selectedId = t.id"></i>
        </div>
    </ng-template>
</ngs-container>

<app-pokemon-by-type *ngIf="selectedId !== null"
                     [id]="selectedId"></app-pokemon-by-type>