<section class="panel authors-panel">
  <h2>Authors</h2>

  <ngs-container [action]="authorsAction"
                 loaderType="text"
                 loaderText="Loading authors...">
    <ng-container *ngsTemplate="authorsAction as authors">

      @if (authors.length === 0) {
        <p class="empty">No authors found.</p>
      } @else {
        <ul class="author-list">

          @for (author of authors; track author.id) {
            <li class="author-item"
                [class.selected]="author.id === selectedAuthorId()"
                (click)="selectAuthor(author)">
              <div class="author-info">
                <strong>{{ author.name }}</strong>
                <span>{{ author.country }}</span>
              </div>
            </li>
          }
        </ul>
      }

    </ng-container>
  </ngs-container>

  <app-add-author />
</section>