:root {
    --primary-ultra-light: #B8F2E3;
    --primary-super-light: #82DFC8;
    --primary-lighter: #57C9AC;
    --primary-light: #31B695;
    --primary: #10ac84;
    --primary-dark: #008E6A;
    --primary-darker: #007054;
    --primary-super-dark: #005943;
    --primary-ultra-dark: #003D2E;

    --error: #ff4d4d;

    --information: #17c0eb;

    --success: #3ae374;

    --warning: #ffaf40;
}

*,
*:after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
}

a {
    color: var(--primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    max-width: 968px;
    margin: auto;
    padding: 1.5rem;
}

h1,
h2,
h3,
h4 {
    margin-top: 3.5rem;
}

pre {
    margin: 2rem 0 !important;
}

.message {
    border: 1px solid transparent;
    border-left-width: .25rem;
    padding: 1rem;

    &.error {
        border-color: var(--error);
    }

    &.information {
        border-color: var(--information);
    }

    &.success {
        border-color: var(--success);
    }

    &.warning {
        border-color: var(--warning);
    }
}

.img {
    text-align: center;

    img {
        max-width: 95%;
    }
}