<ngs-container [query$]="query$"
               [data$]="data$"
               loaderType="text">
    <ng-template let-pokemons>
        <div class="flex-row gap1">
            <div class="flex-1">
                <div class="flex-row flex-aic gap1"
                     *ngFor="let p of pokemons; trackBy: trackByValue">
                    <div>{{ p.name }}</div>
                    <i class="fa fa-solid fa-edit pointer"
                       (click)="selectedId = selectedId === p.id ? null : p.id"></i>
                </div>
            </div>
            <div class="flex-1">
                <app-pokemon-upsert-form [id]="selectedId"></app-pokemon-upsert-form>
            </div>
        </div>
    </ng-template>
</ngs-container>