<ngs-container [query$]="query$"
               [data$]="pokemons$"
               loaderType="text">
    <ng-template let-pokemons>
        <div class="flex-row flex-aic gap1"
             *ngFor="let p of pokemons; trackBy: trackByValue">
            <div>{{ p.name }}</div>
            <i class="fa fa-solid fa-eye pointer"
               (click)="selectedId = p.id"></i>
        </div>
    </ng-template>
</ngs-container>

<app-pokemon *ngIf="selectedId !== null"
             [id]="selectedId"></app-pokemon>