<ngs-container [query$]="query$"
               [data$]="data$"
               (changed)="reset($event)">
    <ng-template let-pokemon>
        <form [formGroup]="form"
              (ngSubmit)="upsert()">
            <div>
                <label>
                    Name: <input type="text"
                           formControlName="name">
                </label>
            </div>
            <div>
                <label>
                    Type: <select formControlName="type">
                        <option value="water">Water</option>
                        <option value="fire">Fire</option>
                        <option value="electric">Electric</option>
                        <option value="grass">Grass</option>
                        <option value="bug">Bug</option>
                        <option value="normal">Normal</option>
                        <option value="poison">Poison</option>
                    </select>
                </label>
            </div>
            <button type="submit"
                    [disabled]="form.valid === false || (busy$ | async) === true">
                {{ form.value.id === null ? 'Create' : 'Update' }}
            </button>
        </form>
    </ng-template>
</ngs-container>